<div class="container order-2 overflow-x-auto 2lg:order-none 2lg:py-2.5">
  <div class="flex py-2 items-center">
    <div class="flex flex-1 gap-x-4">
      <div class="text-xs leading-4 text-gray-500 items-center hidden 2lg:block">
        <span class="whitespace-pre">Coins: </span>
        <span class="font-semibold text-slate-700 cursor-pointer hover:text-primary-500">14,468</span>
      </div>
      <div class="text-xs leading-4 text-gray-500 items-center hidden 2lg:block">
        <span class="whitespace-pre">Exchanges: </span>
        <span class="font-semibold text-slate-700 cursor-pointer hover:text-primary-500">1,103</span>
      </div>
      <div class="flex text-xs leading-4 text-gray-500 items-center">
        <span class="whitespace-pre">Market Cap: </span>
        <span class="font-semibold text-slate-700 cursor-pointer hover:text-primary-500">$2.705T</span>
        <span class="gecko-up">
          <i class="fa-solid fa-fw fa-caret-up"></i>
          0.9%
        </span>
      </div>
      <div class="flex text-xs leading-4 text-gray-500 items-center">
        <span class="whitespace-pre">24h Vol: </span>
        <span class="font-semibold text-slate-700 cursor-pointer hover:text-primary-500">$57.269B</span>
      </div>
      <div class="flex text-xs leading-4 text-gray-500 items-center">
        <span class="whitespace-pre">Dominance: </span>
        <div class="inline-flex gap-x-2">
          <span class="font-semibold text-slate-700 cursor-pointer text-nowrap hover:text-primary-500">BTC 50.3%</span>
          <span class="font-semibold text-slate-700 cursor-pointer text-nowrap hover:text-primary-500">ETH 16.7%</span>
        </div>
      </div>
      <div class="flex text-xs leading-4 text-gray-500 items-center">
        <i class="fab fa-fw fa-ethereum"></i>
        <span class="whitespace-pre">Gas: </span>
        <span class="font-semibold text-slate-700 cursor-pointer text-nowrap hover:text-primary-500">4 GWEI</span>
      </div>
    </div>
    <div class="hidden 2lg:flex gap-x-2">
      <button class="text-xs leading-4 mb-1 font-semibold text-black shadow-[0_4px_0_0] shadow-slate-300 border-slate-300 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-slate-300 hover:bg-slate-100 duration-150 outline-none">
        <i class="fa-solid fa-fw fa-gear"></i>
      </button>
      <button class="text-xs leading-4 mb-1 font-semibold text-black shadow-[0_4px_0_0] shadow-slate-300 border-slate-300 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-slate-300 hover:bg-slate-100 duration-150 outline-none">
        Login
      </button>
      <button class="text-xs leading-4 mb-1 font-semibold bg-primary-500 text-white shadow-[0_4px_0_0] shadow-primary-700 border-primary-500 border-x-2 border-t-2 rounded-lg px-2.5 py-1.5 active:translate-y-2 active:shadow-[0_2px_0_0] active:shadow-primary-500 hover:bg-primary-600 hover:border-primary-600 duration-150 outline-none">
        Sign Up
      </button>
    </div>
  </div>
</div>
