@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer components {
  .gecko-up {
    @apply flex items-center text-primary-500;
  }

  .gecko-down {
    @apply flex items-center text-red-500;
  }
}

.tw-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .tw-container {
    max-width: 1300px;
    width: 100%;
  }
}

.wrapper {
  z-index: 1001;
}

@media (max-width: 1199px) {
  .wrapper {
    margin-top: 0.5rem;
    padding-bottom: 2rem;
    max-height: calc(100dvh - 6rem);
    overflow-y: auto;
  }
}

.wrapper-toggle {
}

.backdrop {
  z-index: 1000;
  position: absolute;
  top: 3.5rem;
  left: 0;
  height: 100vh;
  width: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

@media (min-width: 1200px) {
  .backdrop {
    visibility: hidden;
  }
}

.popup-items {
  position: relative;
  width: 100%;
}

@media (max-width: 1199px) {
  .popup-items {
    max-height: 0;
    overflow-y: hidden;
    box-shadow: none;
    padding: 0;
    margin: 0;
    transition: max-height 0.3s;
  }

  .popup-items.open {
    margin-top: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .popup-items {
    position: absolute;
    top: 1.25rem;
    left: 0;
    width: 16rem;
  }
}

.popup-label {
  flex: 1 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 1200px) {
  .popup-label {
    padding-top: 0;
    padding-bottom: 0.5rem;
    margin-bottom: -0.5rem;
  }
}

.filter-dropdown-button {
  width: 100%;
}

.filter-dropdown {
  position: absolute;
  width: 100%;
  margin-top: 0.5rem;
  width: 14rem;
}

@media (min-width: 1200px) {
  .filter-dropdown {
    position: absolute;
    left: 0;
  }
}

.filter-dropdown-item {
  cursor: pointer;
  align-items: center;
  padding: 0.75rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.input {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: transparent;
  outline-width: 0px;
  border-width: 0px;
  height: 2.5rem;
  padding: 0px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.input::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity));
}

.input-border {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  border-radius: 0.5rem;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(243 244 246 / var(--tw-ring-opacity));
}

.input-border:focus-within {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(75 204 0 / var(--tw-ring-opacity));
}

@media (min-width: 1024px) {
  .input-border {
    margin-bottom: 0px;
    margin-right: 0.5rem;
  }
}

.tab {
  cursor: pointer;
}

.tab:hover {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

.tab.selected {
  cursor: default;
  --tw-border-opacity: 1;
  border-color: rgb(75 204 0 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}
